@import '../../../styles/variables';
.about-me-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 144px 12px;
}
.location-labels {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 400px;
  justify-content: space-between;

   .based-in-ulm{
    top: 26px;
    z-index: 3;

         .label-text {
            rotate: -4deg;
            top: 50%;
            left: 47%;
            transform: translate(-50%, -50%);
         }

    }

    .open-to-relocate {
        z-index: 2;
      .label-text {
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .open-to-remote {
        top: -64px;
        z-index: 1;
      .label-text {
        rotate: 8deg;
        top: 76%;
        left: 48%;
        transform: translate(-50%, -50%);
      }
    }

  .label-item {
    position: relative;
    width: 100%;
    height: 152px;
   

    .label-text {
      position: absolute;
      display: flex;
      align-items: center;
  white-space: nowrap;
      gap: 8px;
      color: $color-text-light;
      font-weight: 400;
      font-size: $font-size-lg;
    }

    .label-text img {
      width: 40px;
      height: 40px;
    }
  }
}

.about-me-container{
    span{
        color: $color-text-btn;
        font-weight: 500;
        font-size: 20px;
        font-family: 'Bricolage Grotesque', sans-serif;
    }
  .section-title {
  font-size: 64px;
  font-weight: 700;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: $color-text-btn;
  position: relative;

}
.section-line {
  position: relative;
  height: 20px;
  width: 303px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../../../assets/images/aboutMe/line.svg') no-repeat left center;
    background-size: contain;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
  }

  &.active::after {
    transform: scaleX(1);
  }
}

.about-me-content {
    margin: 24px 0px;
    font-size: 20px;
    font-weight: 400;
        font-family: 'Bricolage Grotesque', sans-serif;
        color: $color-text-btn;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

   .about-me-cta-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.about-me-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    font-size: $font-size-md;
    font-weight: 500;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: $color-text-btn;
    border: 1px solid $color-text-btn;
    border-radius: 100px;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
   
&:hover {
        transform: translateY(4px);
        background-color: $color-accent;
        color: $color-text-light;
        box-shadow: none;
    }
}}