<section class="skills-section">
    <div class="skills-header">
        <div class="skills-header-content">
            <span class="skills-subtitle">{{'skills.MY_STACK' | translate }}</span>
            <h2 class="skills-title">{{'skills.SKILLS_TITLE' | translate }}</h2>
        </div>
        <p class="skills-description">
            {{'skills.SKILLS_DESCRIPTION' | translate }}
        </p>
    </div>

    <div class="skills-content">
        <div class="skills-grid">
            <div class="skill-item">
                <img src="/assets/images/skills/html.svg" alt="HTML Icon" />
                <span>HTML</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/css.svg" alt="CSS Icon" />
                <span>CSS</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/javascript.svg" alt="JavaScript Icon" />
                <span>JavaScript</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/typescript.svg" alt="TypeScript Icon" />
                <span>TypeScript</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/angular.svg" alt="Angular Icon" />
                <span>Angular</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/firebase.svg" alt="Firebase Icon" />
                <span>Firebase</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/git.svg" alt="Git Icon" />
                <span>Git</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/api.svg" alt="Rest API Icon" />
                <span>Rest.Api</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/scrum.svg" alt="Scrum Icon" />
                <span>Scrum</span>
            </div>
            <div class="skill-item">
                <img src="/assets/images/skills/material.svg" alt="Material Design Icon" />
                <span>Material Design</span>
            </div>
        </div>

        <div class="skills-sticker">
            <img src="/assets/images/pull-to-peel-sticker.png" alt="Pull to peel sticker" />
        </div>

    </div>
</section>