<section class="hero">
    <div class="hero-content">
        <button class="hero-tag">
            <span class="hero-tag-text hero-tag-text-default">{{ 'HERO_TAG' | translate }}</span>
            <span class="hero-tag-text hero-tag-text-hover">{{ 'HERO_TAG_HOVER' | translate }}</span>
            <span class="hero-tag-icon">👋</span>
        </button>

        <div class="hero-title-main">
            <h1><span class="light">{{ 'HERO_TITLE' | translate }}</span> <span class="bold">{{ 'HERO_TITLE2' |
                    translate }}</span></h1>
        </div>

        <div class="hero-cta-container">
            <button class="hero-cta">{{ 'HERO_CTA' | translate }}</button>
        </div>
    </div>

    <div class="hero-photo">
        <div class="hero-polaroid">
            <div class="polaroid-image">
                <img src="/assets/images/profil.jpeg" alt="Portrait of János" />
            </div>
            <div class="polaroid-caption">
                János :)
            </div>
        </div>
    </div>
</section>