<section class="hero">
    <div class="hero-content">
        <div class="hero-tag-wrapper">
            <span class="hero-tag-icon">
                <img src="/assets/images/icons/wavingHand.svg" alt="waving hand" />
            </span>
            <button class="hero-tag">
                <span class="hero-tag-text hero-tag-text-default">{{ 'hero.HERO_TAG' | translate }}</span>
                <span class="hero-tag-text hero-tag-text-hover">{{ 'hero.HERO_TAG_HOVER' | translate }}</span>
            </button>
        </div>
        <div class="hero-title-main">
            <h1>
                <span class="light">
                    <ng-container *ngFor="let char of ('hero.HERO_TITLE' | translate).split('')">
                        <span class="char" [attr.data-char]="char"
                            [attr.data-flip]="char === char.toUpperCase() ? char.toLowerCase() : char.toUpperCase()">
                        </span>
                    </ng-container>
                </span>
                <span class="bold">
                    <ng-container *ngFor="let char of ('hero.HERO_TITLE2' | translate).split('')">
                        <span class="char" [attr.data-char]="char"
                            [attr.data-flip]="char === char.toUpperCase() ? char.toLowerCase() : char.toUpperCase()">
                        </span>
                    </ng-container>
                </span>
            </h1>
        </div>

        <div class="hero-cta-container">
            <button class="hero-cta">{{ 'hero.HERO_CTA' | translate }}</button>
        </div>
    </div>

    <div class="hero-photo">
        <div class="hero-polaroid">
            <div class="polaroid-image">
                <img src="/assets/images/profil.jpeg" alt="Portrait of János" />
            </div>
            <div class="polaroid-caption">
                János <span class="emoji"> </span>
            </div>
        </div>
    </div>

    <div class="hero-socials-container">
        <a href="#" class="hero-social-link">
            <img src="/assets/images/icons/github.png" alt="GitHub" />
        </a>
        <a href="#" class="hero-social-link">
            <img src="/assets/images/icons/Linkedin.png" alt="LinkedIn" />
        </a>
        <a href="#" class="hero-social-link">
            <img src="/assets/images/icons/mail.png" alt="Mail" />
        </a>
    </div>
</section>