// Farben
$color-primary: #3355FF;
$color-accent: #f08463;
$color-bg: #181818;
$color-header-bg: #fff;
$color-text: #111;
$color-text-light: #F8F9FA;
$color-switch-bg: #ccc;

// Schriftgrößen
$font-size-base: 16px;
$font-size-lg: 24px;
$font-size-xl: 48px;

// Abstände
$header-height: 80px;
$section-padding: 40px; 
