@import "./_fonts";
@import "./styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #{$color-accent} rgb(50, 50, 50);
}

html,
body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent !important; // wichtig: transparent erzwingen
}

::-webkit-scrollbar-thumb {
  background-color: $color-accent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($color-accent, 20%);
}
