<div class="contact__footer">
    <div class="contact__brand">
        <img class="brand__logo" src="assets/images/logo/logoBlueIcon.png" alt="personal logo" />
        <!-- <span class="brand__logo">DJ</span> -->
        <span class="brand__copy">© János Debreczi 2025</span>
    </div>

    <ul class="contact__links" aria-label="Footer links">
        <li class="legal-link-wrapper">
            <div class="legal-icon-hover"></div>
            <a routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
        </li>
        <li class="social-link-wrapper">
            <div class="social-icon-hover">
                <img src="assets/images/icons/github.png" alt="GitHub" />
            </div>
            <a href="https://github.com/debreczijanos" target="_blank" rel="noopener noreferrer">GitHub</a>
        </li>
        <li class="social-link-wrapper">
            <div class="social-icon-hover">
                <img src="assets/images/icons/Linkedin.png" alt="LinkedIn" />
            </div>
            <a href="https://linkedin.com/in/debreczi-janos-21847a1a4" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li class="social-link-wrapper">
            <div class="social-icon-hover">
                <img src="assets/images/icons/mail.png" alt="Email" />
            </div>
            <a href="mailto:janos@debreczi.com">Email</a>
        </li>
    </ul>
</div>
